@import 'app/styles/reset.less';

//@linkColor: #cb5534;
@linkColor: #6bb337;

html { font-size: 100%; } 

body {
  padding: 2em;
  font-family: "Georgia";
  line-height: 1.65;
  max-width: 700px;
  margin: 0 auto;

}

@media (max-width: 640px) { 
  body {
    font-size: 0.9em;
    padding: 1.5em;
    color: #555;
  } 
} 
@media (min-width: 640px) { 
  body {
    font-size:0.95em;
    padding: 1.5em;
    color: #666;
  } 
} 
@media (min-width:700px) { 
  body {
    font-size:1.15em;
    padding: 2em;
    color: #666;
  } 
} 

h2, h3 {
  line-height: 1.2;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.3em;
}

a, 
a:visited {
  text-decoration: none;
  color: @linkColor;
}
a:hover {
  color: darken(@linkColor, 20%);
}

p + p {
  margin-top: 1em;
}

hr {
  border: 1px dotted #efefef;
}

hr + h2 {
  margin-top: 1em;
}

p + h3 {
  margin: 1.5em 0 0.5em 0;
}

