{% extends "layout.html" %}
{% block title %}
  | {{ title }}
{% endblock %}
{% block menu %}
  <h3>
    <a href="/">artigos.xpto.me</a> &#9679; <a href="http://twitter.com/flavioatas">contato</a>
  </h3>
{% endblock %}
{% block content %}
  <div class="post">
  <hr>
    <h2>
      {{ title }}
    </h2>
    <time>
      {{ when }}
    </time>
    {{ html }}
  </div>
{% endblock %}